[data-rehype-pretty-code-figure] pre {
  @apply px-0 py-2;
}

[data-rehype-pretty-code-figure] code {
  @apply text-xs !leading-tight md:text-sm border-0 p-0;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] {
  counter-reset: line;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-3 inline-block w-4 text-right text-gray-500;
}

[data-rehype-pretty-code-figure] [data-line] {
  @apply border-l-2 border-l-transparent px-3 py-0;
}

[data-rehype-pretty-code-figure] [data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1);
  @apply border-l-blue-400;
}

[data-rehype-pretty-code-figure] [data-highlighted-chars] {
  @apply rounded bg-zinc-600/50;
  box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}

[data-rehype-pretty-code-figure] [data-chars-id] {
  @apply border-b-2 p-1 shadow-none;
}

/* 自定义行ID样式 */
[data-rehype-pretty-code-figure] [data-highlighted-line-id="add"] {
  background: rgba(74, 222, 128, 0.1);
  @apply border-l-green-400;
  position: relative;
  /* padding-left: 2rem; */
}

[data-rehype-pretty-code-figure] [data-highlighted-line-id="add"]::before {
  content: "+";
  color: rgb(34, 197, 94);
  font-weight: bold;
  position: absolute;
  left: 0.75rem;
  top: 0;
  line-height: inherit;
}

[data-rehype-pretty-code-figure] [data-highlighted-line-id="remove"] {
  background: rgba(239, 68, 68, 0.1);
  @apply border-l-red-400;
  position: relative;
  /* padding-left: 2rem; */
}

[data-rehype-pretty-code-figure] [data-highlighted-line-id="remove"]::before {
  content: "-";
  color: rgb(239, 68, 68);
  font-weight: bold;
  position: absolute;
  left: 0.75rem;
  top: 0;
  line-height: inherit;
}

.subheading-anchor {
  @apply no-underline hover:underline;
}

/* 自定义文章正文样式，使其更紧密 */
.prose {
  @apply space-y-4;
}

.prose p {
  @apply my-3 leading-relaxed;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply mt-6 mb-3;
}

.prose li {
  @apply my-1;
}

.prose blockquote {
  @apply my-4;
}

.prose code {
  @apply px-1 py-0.5;
}

.prose pre {
  @apply my-4;
}
